In [1]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

In [2]:
import getpass  # To get the password without showing the input

In [3]:
password = getpass.getpass()

········

In [4]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [6]:
query1 = """ SELECT 
  f.film_id, 
  f.title, 
  f.rating, 
  c.name AS category, 
  l.name AS language, 
  f.rental_duration, 
  p.amount AS rental_rate,
  r.rental_date, 
  r.return_date, 
  DATEDIFF(r.return_date, r.rental_date) AS rental_duration_days
FROM 
  film f
  JOIN film_category fc ON f.film_id = fc.film_id
  JOIN category c ON fc.category_id = c.category_id
  JOIN language l ON f.language_id = l.language_id
  JOIN inventory i ON f.film_id = i.film_id
  JOIN rental r ON i.inventory_id = r.inventory_id
  JOIN payment p ON r.rental_id = p.rental_id
WHERE 
  r.return_date IS NOT NULL;

"""

data = pd.read_sql(query1, engine)
data

,film_id,title,rating,category,language,rental_duration,rental_rate,rental_date,return_date,rental_duration_days
0,989,WORKING MICROCOSMOS,R,Travel,English,4,4.99,2005-06-15 06:21:30,2005-06-18 05:43:30,3
1,989,WORKING MICROCOSMOS,R,Travel,English,4,4.99,2005-07-11 12:18:07,2005-07-12 12:11:07,1
2,989,WORKING MICROCOSMOS,R,Travel,English,4,4.99,2005-08-01 11:55:54,2005-08-05 15:56:54,4
3,989,WORKING MICROCOSMOS,R,Travel,English,4,6.99,2005-08-18 19:17:47,2005-08-24 14:55:47,6
4,989,WORKING MICROCOSMOS,R,Travel,English,4,7.99,2005-06-19 11:12:35,2005-06-26 11:55:35,7
...,...,...,...,...,...,...,...,...,...,...
15856,19,AMADEUS HOLY,PG,Action,English,6,1.99,2005-07-30 14:37:44,2005-08-06 18:05:44,7
15857,19,AMADEUS HOLY,PG,Action,English,6,0.99,2005-06-19 10:20:09,2005-06-21 10:05:09,2
15858,19,AMADEUS HOLY,PG,Action,English,6,0.99,2005-07-12 10:57:28,2005-07-15 06:06:28,3
15859,19,AMADEUS HOLY,PG,Action,English,6,1.99,2005-07-29 14:08:06,2005-08-05 14:57:06,7
15860,19,AMADEUS HOLY,PG,Action,English,6,0.99,2005-08-17 08:12:20,2005-08-19 12:45:20,2

In [7]:
data.columns

Index(['film_id', 'title', 'rating', 'category', 'language', 'rental_duration',
       'rental_rate', 'rental_date', 'return_date', 'rental_duration_days'],
      dtype='object')

In [8]:
# Convert rental_date column to datetime format
data['rental_date'] = pd.to_datetime(data['rental_date'])

# Create rented_in_may column with boolean values
data['rented_in_may'] = (data['rental_date'].dt.month == 5) & (data['rental_date'].dt.year == 2005)

# Get list of unique film titles and rented_in_may boolean
film_rented_in_may = data[['title', 'rented_in_may']].drop_duplicates()

In [9]:
data

,film_id,title,rating,category,language,rental_duration,rental_rate,rental_date,return_date,rental_duration_days,rented_in_may
0,989,WORKING MICROCOSMOS,R,Travel,English,4,4.99,2005-06-15 06:21:30,2005-06-18 05:43:30,3,False
1,989,WORKING MICROCOSMOS,R,Travel,English,4,4.99,2005-07-11 12:18:07,2005-07-12 12:11:07,1,False
2,989,WORKING MICROCOSMOS,R,Travel,English,4,4.99,2005-08-01 11:55:54,2005-08-05 15:56:54,4,False
3,989,WORKING MICROCOSMOS,R,Travel,English,4,6.99,2005-08-18 19:17:47,2005-08-24 14:55:47,6,False
4,989,WORKING MICROCOSMOS,R,Travel,English,4,7.99,2005-06-19 11:12:35,2005-06-26 11:55:35,7,False
...,...,...,...,...,...,...,...,...,...,...,...
15856,19,AMADEUS HOLY,PG,Action,English,6,1.99,2005-07-30 14:37:44,2005-08-06 18:05:44,7,False
15857,19,AMADEUS HOLY,PG,Action,English,6,0.99,2005-06-19 10:20:09,2005-06-21 10:05:09,2,False
15858,19,AMADEUS HOLY,PG,Action,English,6,0.99,2005-07-12 10:57:28,2005-07-15 06:06:28,3,False
15859,19,AMADEUS HOLY,PG,Action,English,6,1.99,2005-07-29 14:08:06,2005-08-05 14:57:06,7,False
15860,19,AMADEUS HOLY,PG,Action,English,6,0.99,2005-08-17 08:12:20,2005-08-19 12:45:20,2,False

In [10]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [11]:
print(data.isna().sum())

film_id                 0
title                   0
rating                  0
category                0
language                0
rental_duration         0
rental_rate             0
rental_date             0
return_date             0
rental_duration_days    0
rented_in_may           0
dtype: int64

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15861 entries, 0 to 15860
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               15861 non-null  int64
 1   title                 15861 non-null  object
 2   rating                15861 non-null  object
 3   category              15861 non-null  object
 4   language              15861 non-null  object
 5   rental_duration       15861 non-null  int64
 6   rental_rate           15861 non-null  float64
 7   rental_date           15861 non-null  datetime64[ns]
 8   return_date           15861 non-null  datetime64[ns]
 9   rental_duration_days  15861 non-null  int64
 10  rented_in_may         15861 non-null  bool
dtypes: bool(1), datetime64[ns](2), float64(1), int64(3), object(4)
memory usage: 1.2+ MB

In [13]:
from sklearn.preprocessing import MinMaxScaler

In [14]:
# drop the target variable
data2 = data.drop('rented_in_may', axis=1)

# encode categorical variables
data2 = pd.get_dummies(data2, columns=['rating', 'category', 'language'])

# scale numerical variables
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
num_cols = ['rental_duration', 'rental_rate', 'rental_duration_days']
data2[num_cols] = scaler.fit_transform(data2[num_cols])

In [15]:
data2

,film_id,title,rental_duration,rental_rate,rental_date,return_date,rental_duration_days,rating_G,rating_NC-17,rating_PG,...,category_Family,category_Foreign,category_Games,category_Horror,category_Music,category_New,category_Sci-Fi,category_Sports,category_Travel,language_English
0,989,WORKING MICROCOSMOS,-0.668626,0.327431,2005-06-15 06:21:30,2005-06-18 05:43:30,-0.775425,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,989,WORKING MICROCOSMOS,-0.668626,0.327431,2005-07-11 12:18:07,2005-07-12 12:11:07,-1.541194,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2,989,WORKING MICROCOSMOS,-0.668626,0.327431,2005-08-01 11:55:54,2005-08-05 15:56:54,-0.392541,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,989,WORKING MICROCOSMOS,-0.668626,1.174778,2005-08-18 19:17:47,2005-08-24 14:55:47,0.373229,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4,989,WORKING MICROCOSMOS,-0.668626,1.598452,2005-06-19 11:12:35,2005-06-26 11:55:35,0.756113,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15856,19,AMADEUS HOLY,0.758322,-0.943589,2005-07-30 14:37:44,2005-08-06 18:05:44,0.756113,0,0,1,...,0,0,0,0,0,0,0,0,0,1
15857,19,AMADEUS HOLY,0.758322,-1.367262,2005-06-19 10:20:09,2005-06-21 10:05:09,-1.158310,0,0,1,...,0,0,0,0,0,0,0,0,0,1
15858,19,AMADEUS HOLY,0.758322,-1.367262,2005-07-12 10:57:28,2005-07-15 06:06:28,-0.775425,0,0,1,...,0,0,0,0,0,0,0,0,0,1
15859,19,AMADEUS HOLY,0.758322,-0.943589,2005-07-29 14:08:06,2005-08-05 14:57:06,0.756113,0,0,1,...,0,0,0,0,0,0,0,0,0,1
15860,19,AMADEUS HOLY,0.758322,-1.367262,2005-08-17 08:12:20,2005-08-19 12:45:20,-1.158310,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [16]:
data2 = data2.drop(['film_id', 'title', 'rental_duration', 'rental_rate', 'rental_date', 'return_date', 'rental_duration_days'], axis=1)

In [18]:
data2

,rating_G,rating_NC-17,rating_PG,rating_PG-13,rating_R,category_Action,category_Animation,category_Children,category_Classics,category_Comedy,...,category_Family,category_Foreign,category_Games,category_Horror,category_Music,category_New,category_Sci-Fi,category_Sports,category_Travel,language_English
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15856,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15857,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15858,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15859,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15860,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [19]:
data2.columns

Index(['rating_G', 'rating_NC-17', 'rating_PG', 'rating_PG-13', 'rating_R',
       'category_Action', 'category_Animation', 'category_Children',
       'category_Classics', 'category_Comedy', 'category_Documentary',
       'category_Drama', 'category_Family', 'category_Foreign',
       'category_Games', 'category_Horror', 'category_Music', 'category_New',
       'category_Sci-Fi', 'category_Sports', 'category_Travel',
       'language_English'],
      dtype='object')

In [20]:
data.columns

Index(['film_id', 'title', 'rating', 'category', 'language', 'rental_duration',
       'rental_rate', 'rental_date', 'return_date', 'rental_duration_days',
       'rented_in_may'],
      dtype='object')

In [21]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report


# Combine data2 with rented_in_may from data
data2['rented_in_may'] = data['rented_in_may']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(data2.drop('rented_in_may', axis=1), data2['rented_in_may'], test_size=0.2, random_state=42)

# Fit logistic regression model to training data
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)

# Predict on testing data
y_pred = log_reg.predict(X_test)

# Evaluate model performance
confusion_mat = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

print("Confusion Matrix:")
print(confusion_mat)
print("\nClassification Report:")
print(class_report)

Confusion Matrix:
[[2961    0]
 [ 212    0]]

Classification Report:
              precision    recall  f1-score   support

       False       0.93      1.00      0.97      2961
        True       0.00      0.00      0.00       212

    accuracy                           0.93      3173
   macro avg       0.47      0.50      0.48      3173
weighted avg       0.87      0.93      0.90      3173

C:\Users\j-lan\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\j-lan\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\j-lan\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

# Use data2 as X and rented_in_may from data as Y
X = data2
Y = data['rented_in_may']

# Split the data into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Train the logistic regression model
logreg = LogisticRegression()
logreg.fit(X_train, Y_train)

# Check for the coef_ attribute
print(logreg.coef_)

[[ 1.37319326e-02 -6.09171731e-03 -3.88216246e-02  2.86069974e-02
   2.58326420e-03  1.75372033e-02 -2.80605417e-02 -2.89055769e-03
  -4.57996100e-02  4.80769348e-02  1.33119991e-02  5.71172311e-02
   1.99443182e-02  2.11878385e-03 -1.86141616e-02 -1.79062688e-02
  -2.07993578e-02 -1.57885170e-02  3.81956890e-02 -4.89508340e-02
   2.51654152e-03  8.85234632e-06  1.13472721e+01]]

In [23]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

# make predictions on the test data
y_pred = logreg.predict(X_test)

# calculate evaluation metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# print evaluation metrics
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1)

# generate confusion matrix
cm = confusion_matrix(y_test, y_pred)
print("Confusion matrix:\n", cm)

Accuracy: 1.0
Precision: 1.0
Recall: 1.0
F1-score: 1.0
Confusion matrix:
 [[2961    0]
 [   0  212]]